@font-face {
  font-family: 'Akkurat Light Pro';
  src: url('AkkuratLightPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('AkkuratLightPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AkkuratLightPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('AkkuratLightPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AkkuratLightPro-Regular.svg#b5c01d1b960fd3c923f4c0466bcdd227') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Akkurat Pro';
  src: url('AkkuratPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('AkkuratPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AkkuratPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('AkkuratPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AkkuratPro-Bold.svg#8e4ac6878de559e681f53263f7ebda33') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Chronicle Display Black';
  src: url('ChronicleDisplay-Black.eot'); /* IE9 Compat Modes */
  src: url('ChronicleDisplay-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ChronicleDisplay-Black.woff') format('woff'), /* Modern Browsers */
       url('ChronicleDisplay-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ChronicleDisplay-Black.svg#4b6b2d69c73db14a7f402878796c0e64') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Chronicle Display Bold';
  src: url('ChronicleDisplay-Bold.eot'); /* IE9 Compat Modes */
  src: url('ChronicleDisplay-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ChronicleDisplay-Bold.woff') format('woff'), /* Modern Browsers */
       url('ChronicleDisplay-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ChronicleDisplay-Bold.svg#99ff5e798aa8e7d229bffbcbfeb2800e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Futura LT Medium';
  src: url('Futura LT Medium Oblique.eot'); /* IE9 Compat Modes */
  src: url('Futura LT Medium Oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Futura LT Medium Oblique.woff') format('woff'), /* Modern Browsers */
       url('Futura LT Medium Oblique.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Futura LT Medium Oblique.svg#107dc9eca3835f393ab314cf4b05a20a') format('svg'); /* Legacy iOS */
       
  font-style:   oblique;
  font-weight:  400;
}

@font-face {
  font-family: 'Futura Std Book';
  src: url('FuturaStd-Bold.eot'); /* IE9 Compat Modes */
  src: url('FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FuturaStd-Bold.woff') format('woff'), /* Modern Browsers */
       url('FuturaStd-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FuturaStd-Bold.svg#e6614ac1ffeb97962de474601fd3ce1d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Futura Std Medium';
  src: url('FuturaStd-Medium.eot'); /* IE9 Compat Modes */
  src: url('FuturaStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FuturaStd-Medium.woff') format('woff'), /* Modern Browsers */
       url('FuturaStd-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FuturaStd-Medium.svg#978bfeb47c41e9c6da434cb6375bf283') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

